* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    
  }

/* Navbar styles */
.navbar {
    position: fixed; /* Posiciona la barra sobre el contenido */
    top: 0;
    width: 100%;
    background-color: transparent; /* Hace la barra transparente */
    color: #333; /* El texto será blanco para que contraste con la imagen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Ajusta el espaciado interno */
    z-index: 1000; /* Asegura que la barra de navegación esté encima de otros elementos */
    transition: background-color 0.2s ease, transform 0.2s ease; /* Suaviza la transición del color */
    overflow-x: hidden;
  }

  .navbar.scrolled {
    background-color: rgba(241, 208, 155, 0.9); /* Cambia el fondo a negro al hacer scroll */
    transition: background-color 0.2s ease;
  }
  
  .navbar .logo a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .navbar .nav-links li a:hover {
    color: #fff;
  }
  
  .navbar .nav-links li {
    margin-left: 20px;
  }
  
  .navbar .nav-links li a {
    color: #333;
    text-decoration: none;
  }

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

.section {
    flex: 1; /* Hace que la sección principal ocupe el espacio restante */
    padding: 50px;
    text-align: justify;
    background-color: #fff;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none !important;
        flex-direction: column;
        position: fixed;
        top: 78px;
        right: 0;
        padding: 15px;
        width: 50%;
        max-width: none;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
        z-index: 9999;
        text-decoration: underline;
        transition: background-color 0.2s ease, transform 0.2s ease;
        transform: translateX(100%); /* Transición para la visibilidad */
        background-color: transparent;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: right;
        /* Alinea el texto a la derecha */
    }

    .nav-links li a {
        padding-right: 15px;
        /* Añade un poco de espacio desde el borde derecho */
    }

    /* Mostrar el menú cuando el burger se activa */
    .nav-links.active {
        display: flex !important;
        transform: translateX(0); /* Muestra el menú cuando está activo */
        flex-direction: column; 
    }

    .nav-links.scrolled {
        background-color: rgba(241, 208, 155, 0.9); /* Color al hacer scroll */
        transition: background-color 0.2s ease;
      }

    .burger {
        display: block;
        z-index: 10000;
        color: #333;
    }

    /* Flexbox for mobile */
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-image-vertical img {
        margin-bottom: 20px;
        width: 100%; /* Ajusta el tamaño de la imagen en móvil */
    }

    .cover-photo img {
        max-height: 250px; /* Ajuste de la altura de la imagen de portada en móvil */
        z-index: 1;
    }

}

/* About Me Section */

/* Estilos para el logo */
.logo a {
    color: white;
    /* Cambia el color a blanco */
    text-decoration: none;
    /* Elimina el subrayado */
    font-size: 24px;
    /* Ajusta el tamaño de la fuente si lo deseas */
    font-weight: bold;
    /* Puedes darle un estilo de fuente más fuerte */
}

.logo a:hover {
    color: #ddd;
}

/* Foto de portada */
.cover-photo img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 350px;
    /* Ajusta esta altura según tu imagen */
    object-fit: cover;
    object-position: 50% 70%;
    margin-bottom: 30px;
    z-index: 1;
}

/* Contenedor para la descripción y la imagen de perfil */
.about-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 10px;
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    margin: 0 auto;
    /* Centra el contenedor */

}

/* Imagen de perfil vertical */
.profile-image-vertical img {
    width: 400px;
    height: auto;
    object-fit: cover;
}

/* Descripción personal */
.description {
    flex: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h2 {
    font-size: 35px;
    margin-bottom: 40px;
    color: #bd7e17;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
}

.custom-link {
    color: #bd7e17; /* Cambia el color del texto del enlace */
    text-decoration: underline; /* Asegura que esté subrayado */
    text-decoration-color: #bd7e17; /* Cambia el color del subrayado */
  }

/* Para pantallas pequeñas (móviles), la imagen y el texto se apilan */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-image-vertical img {
        margin-bottom: 20px;
        width: 100%; /* Ajusta el tamaño de la imagen en máquinas de escritorio */
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}

/* CV Section */

.cv-content-wrapper {
    display: flex;
    flex-direction: column;
    /* Predeterminado para móviles */
    gap: 50px;
}

.cv-left,
.cv-right {
    flex: 1;
}

.cv-section ul {
    list-style-type: none;
    padding-left: 0;
}

.cv-section ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.cv-section .cv-left h2,
.cv-section .cv-right h2 {
    font-size: 20px;
}

.cv-section p,
.cv-section ul li {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

/* Media query para dividir en dos columnas en desktop */
@media (min-width: 768px) {
    .cv-content-wrapper {
        flex-direction: row;
        /* En pantallas más grandes, cambiar a dos columnas */
        justify-content: space-between;
    }

    .cv-left,
    .cv-right {
        margin: 0 10px;
        /* Espacio entre columnas */
    }
}

.download-cv {
    text-align: center;
    margin-top: 40px;
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #555;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-content i {
    font-size: 24px;
    /* Tamaño del icono */
    color: white;
    /* Color blanco para los iconos */
}

.footer-content i:hover {
    color: #ddd;
    /* Cambia a un gris más claro cuando el cursor pase sobre el icono */
}

.footer-content p {
    margin: 0;
    font-size: 13px;
    color: #ddd;
    /* Color gris claro para la dirección */
}